---
- name: Configurações genéricas a serem aplicadas nas máquinas arq, db, app e cli
  hosts: all
  become: true

  vars:
    users:
      - bruno
      - icaro

  tasks:
    ### ──────────────────────────────────────────────────────────────────
    ###                       Atalizando o sistema
    ### ──────────────────────────────────────────────────────────────────

    - name: Atualizar cache de pacotes apt
      ansible.builtin.apt:
        update_cache: yes

    - name: Atualizar todos os pacotes para a versão mais recente
      ansible.builtin.apt:
        upgrade: full
        autoremove: yes

    ### ──────────────────────────────────────────────────────────────────
    ###                               chrony
    ### ──────────────────────────────────────────────────────────────────

    - name: Instalar chrony
      ansible.builtin.apt:
        name: chrony
        state: latest

    - name: Configurar chrony
      ansible.builtin.lineinfile:
        path: /etc/chrony/chrony.conf
        regexp: "^pool"
        line: "pool pool.ntp.br iburst"
      notify: restart chronyd

    - name: Garantir que o chrony está em execução ao iniciar máquina
      ansible.builtin.systemd_service:
        name: chronyd
        state: started
        enabled: yes

    # Ajustando fuso horário
    - name: Ajustar fuso horário para "America/Recife"
      ansible.builtin.shell:
        cmd: timedatectl set-timezone "America/Recife"

    ### ──────────────────────────────────────────────────────────────────
    ###                         Grupos e usuários
    ### ──────────────────────────────────────────────────────────────────

    # Criando grupo 'ifpb'
    - name: Criar grupo "ifpb"
      ansible.builtin.group:
        name: ifpb
        state: present

    # Criando usuários 'bruno' e 'icaro'
    - name: Criar usuários "bruno" e "icaro", definir suas senhas e adicioná-los ao grupo "ifpb"
      ansible.builtin.user:
        name: "{{ item }}"
        state: present
        password: "{{ 'ifpb' | password_hash('sha512') }}"
        groups: ifpb
        append: yes
        shell: /bin/bash
        generate_ssh_key: true
        ssh_key_file: .ssh/key_{{ item }}
      loop: "{{ users }}"

    ### ──────────────────────────────────────────────────────────────────
    ###                               SSH
    ### ──────────────────────────────────────────────────────────────────

    - name: Enviar chave pública da máquina real para a VM
      ansible.posix.authorized_key:
        user: "{{ item }}"
        state: present
        key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"
      loop: "{{ users }}"

    # Configurações no /etc/ssh/sshd_config
    - name: Permitir autenticação por chave públicas
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "^#?PubkeyAuthentication"
        line: "PubkeyAuthentication yes"
        state: present

    - name: Bloquear logins SSH por senha
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "^#?PasswordAuthentication"
        line: "PasswordAuthentication no"
        state: present

    - name: Proibir acesso ao root via SSH
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "^#?PermitRootLogin"
        line: "PermitRootLogin no"
        state: present

    - name: Permitir acesso apenas a usuários pertencentes aos grupos vagrant e ifpb;
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        line: "AllowGroups vagrant ifpb"
        insertafter: EOF
        create: yes

    # Banner SSH
    - name: Criar arquivo contendo banner do SSH
      ansible.builtin.copy:
        content: "Acesso apenas para pessoas com autorização expressa!!!"
        dest: /etc/issue.net

    - name: Apresentar mensagem de saudação ao acessar o sistema via SSH
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "^#?Banner"
        line: "Banner /etc/issue.net"
      notify: restart sshd

    ### ──────────────────────────────────────────────────────────────────
    ###                               NFS
    ### ──────────────────────────────────────────────────────────────────

    - name: Instalar cliente NFS
      ansible.builtin.apt:
        name: nfs-common
        state: latest

    ### ──────────────────────────────────────────────────────────────────
    ###                  Adicionar grupo 'ifpb' a sudoers
    ### ──────────────────────────────────────────────────────────────────

    - name: Permitir grupo "ifpb" usar sudo
      ansible.builtin.lineinfile:
        path: /etc/sudoers
        regexp: "%ifpb"
        line: "%ifpb ALL=(ALL:ALL) ALL"
        state: present

  handlers:
    - name: restart chronyd
      ansible.builtin.systemd_service:
        name: chronyd
        state: restarted

    - name: restart sshd
      ansible.builtin.systemd_service:
        name: sshd
        state: restarted
