---
- name: Configurações genéricas a serem aplicadas nas máquinas arq, db, app e cli
  hosts: maquinas
  become: true

  tasks:
    # Atualizando sistema
    - name: Atualizar cache de pacotes apt
      ansible.builtin.apt:
        update_cache: yes

    - name: Atualizar todos os pacotes para a versão mais recente
      ansible.builtin.apt:
        upgrade: full
        autoremove: yes
      notify: Reiniciar se necessário

    # chrony: instalação, configuração e habilitação
    - name: Instalar chrony
      ansible.builtin.apt:
        name: chrony
        state: latest

    - name: Configurar chrony # revisar para usar lineinfile
      ansible.builtin.copy:
        src: ../chrony.conf
        dest: /etc/chrony.conf
        owner: root
        group: root
        mode: "0644"

    - name: Reiniciar chrony
      ansible.builtin.systemd_service:
        name: chronyd
        state: restarted

    - name: Garantir que o chrony está em execução
      ansible.builtin.systemd_service:
        name: chronyd
        state: started

    # Ajustando fuso horário
    - name: Ajustar fuso horário para "America/Recife"
      ansible.builtin.shell:
        cmd: timedatectl set-timezone "America/Recife"

    # Criando grupo 'ifpb'
    - name: Criar grupo "ifpb"
      ansible.builtin.group:
        name: ifpb
        state: present

    # Usuário 'bruno': criação e configuração
    - name: Criar usuário "bruno", definir sua senha e adicioná-lo ao grupo "ifpb"
      ansible.builtin.user:
        name: bruno
        state: present
        password: "{{ 'bruno' | password_hash('sha512') }}"
        groups: ifpb
        append: yes

    # Usuário 'icaro': criação e configuração
    - name: Criar usuário "icaro", definir sua senha e adicioná-lo ao grupo "ifpb"
      ansible.builtin.user:
        name: icaro
        state: present
        password: "{{ 'icaro' | password_hash('sha512') }}"
        groups: ifpb
        append: yes

    # SSH: configuração
    - name: Permitir apenas autenticação por chaves públicas
      ansible.builtin.lineinfile:

    - name: Bloquear acesso ao usuário root via SSH
      ansible.builtin.lineinfile:

    - name: Permitir acesso apenas a usuários pertencentes aos grupos vagrant e ifpb;
      ansible.builtin.lineinfile:

    - name: Gerar e configurar chaves públicas para os usuários nome1 e nome2;
      ansible.builtin.lineinfile:

    - name: Apresentar mensagem de saudação ao acessar o sistema via SSH
      ansible.builtin.copy:
        dest: /etc/ssh/sshd_banner

  handlers: # será que é necessário?
    - name: Reiniciar se necessário
      ansible.builtin.reboot:
        msg: "Reinício iniciado pelo Ansible"
      when: reboot_required.stat.exists
